flows.json
[{"id":"a6635db0.faaab","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"55243b9e.4058e4","type":"ibmiot in","z":"a6635db0.faaab","authentication":"apiKey","apiKey":"f91c268e.efa9f8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"Raspberry","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":440,"wires":[["c5592d60.9c3ea"]]},{"id":"507db535.4168bc","type":"function","z":"a6635db0.faaab","name":"pre-token","func":"global.set('age',msg.payload.age)\nglobal.set('temp',msg.payload.temp)\nglobal.set('sys',msg.payload.sys)\nglobal.set('dia',msg.payload.dia)\nglobal.set('pulse',msg.payload.pulse)\nvar apikey=\"_dt3JU6cowx6lKYLJQNrQ7ii3I3pkmcaxo9uhQKei4Vz\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":540,"wires":[["b35cf36c.57a2"]]},{"id":"b35cf36c.57a2","type":"http request","z":"a6635db0.faaab","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":620,"wires":[["9c5b9cff.58fa9","292d25c.28c1fda"]]},{"id":"9c5b9cff.58fa9","type":"debug","z":"a6635db0.faaab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":700,"wires":[]},{"id":"292d25c.28c1fda","type":"function","z":"a6635db0.faaab","name":"Pre Prediction","func":"var age = global.get(\"age\")\nvar temp = global.get(\"temp\")\nvar sys = global.get(\"sys\")\nvar dia = global.get(\"dia\")\nvar pulse = global.get(\"pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\",\"Pulse\"]],\"values\": [[age,temp,sys,dia,pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["df622a83.76f458"]]},{"id":"df622a83.76f458","type":"http request","z":"a6635db0.faaab","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/32fa9079-649a-4cfd-aa34-03c0606067b6/predictions?version=2021-06-05","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":620,"wires":[["140bd794.e27728","d91c3cc2.eb92d"]]},{"id":"140bd794.e27728","type":"debug","z":"a6635db0.faaab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":680,"wires":[]},{"id":"ac75e0ce.8c7af","type":"debug","z":"a6635db0.faaab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":480,"wires":[]},{"id":"d91c3cc2.eb92d","type":"function","z":"a6635db0.faaab","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["ac75e0ce.8c7af","fedca28.41bd56"]]},{"id":"c5592d60.9c3ea","type":"function","z":"a6635db0.faaab","name":"Global Variable","func":"global.set(\"age\",msg.payload.Age)\nglobal.set(\"temp\",msg.payload.Temperature)\nglobal.set(\"sys\",msg.payload.Systolic)\nglobal.set(\"dia\",msg.payload.Diastolic)\nglobal.set(\"pulse\",msg.payload.Pulse)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":261,"y":441,"wires":[[]]},{"id":"fedca28.41bd56","type":"ui_text","z":"a6635db0.faaab","group":"16dc7806.026c08","order":2,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":620,"wires":[]},{"id":"8acee281.69f25","type":"ui_form","z":"a6635db0.faaab","name":"","label":"","group":"16dc7806.026c08","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Temperature","value":"temp","type":"number","required":true,"rows":null},{"label":"Systolic","value":"sys","type":"number","required":true,"rows":null},{"label":"Diastolic","value":"dia","type":"number","required":true,"rows":null},{"label":"Pulse","value":"pulse","type":"number","required":true,"rows":null}],"formValue":{"age":"","temp":"","sys":"","dia":"","pulse":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":80,"y":620,"wires":[["b72f0664.61a9d8","507db535.4168bc"]]},{"id":"b72f0664.61a9d8","type":"debug","z":"a6635db0.faaab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":700,"wires":[]},{"id":"f91c268e.efa9f8","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"16dc7806.026c08","type":"ui_group","name":"PREDICTION","tab":"dce00684.1c53c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dce00684.1c53c8","type":"ui_tab","name":"HEALTH DATA","icon":"dashboard","order":5,"disabled":false,"hidden":false}]