NODE RED FILE(JSON).json
[{"id":"df804a13.1570f8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"eae75baa.620788","type":"function","z":"df804a13.1570f8","name":"pre-token","func":"global.set('age',msg.payload.age)\nglobal.set('gender',msg.payload.gender)\nglobal.get('region',msg.payload.region)\nglobal.set('temperature',msg.payload.temperature)\nglobal.set('systolic',msg.payload.systolic)\nglobal.set('diastolic',msg.payload.diastolic)\nglobal.set('pulserate',msg.payload.pulserate)\nvar apikey=\"ZPy_8wjhgmSk2zuoQucImRz4tlDHRkEKTvXLVVRZ4-nZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":200,"wires":[["cd9923f2.2eb86"]]},{"id":"cd9923f2.2eb86","type":"http request","z":"df804a13.1570f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":260,"wires":[["d575e5e4.41a678","f895d8b5.9b0da8"]]},{"id":"d575e5e4.41a678","type":"function","z":"df804a13.1570f8","name":"Pre Prediction","func":"var age = global.get(\"age\")\nvar gender = global.get(\"gender\")\nvar region = global.get(\"region\")\nvar temperature = global.get(\"temperature\")\nvar systolic = global.get(\"systolic\")\nvar diastolic = global.get(\"diastolic\")\nvar pulserate = global.get(\"pulserate\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"age\",\"gender\",\"region\",\"temperature\", \"systolic\", \"diastolic\",\"pulserate\"]],\"values\": [[age,gender,region,temperature,systolic,diastolic,pulserate]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":200,"wires":[["ce61c5ad.4bbe28"]]},{"id":"ce61c5ad.4bbe28","type":"http request","z":"df804a13.1570f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/f1634447-7dcf-499e-85ae-cf984933cf3c/predictions?version=2021-06-12","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":260,"wires":[["fc78eb42.b988a8","e5201d3f.1adc6"]]},{"id":"fc78eb42.b988a8","type":"function","z":"df804a13.1570f8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set('r',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":200,"wires":[["d6d3fd9f.3f3ae","d79ef6ca.01a3e8"]]},{"id":"e5201d3f.1adc6","type":"debug","z":"df804a13.1570f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":300,"wires":[]},{"id":"d6d3fd9f.3f3ae","type":"debug","z":"df804a13.1570f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":100,"wires":[]},{"id":"72df6482.e65c6c","type":"ibmiot in","z":"df804a13.1570f8","authentication":"apiKey","apiKey":"1aa532d9.f9cc2d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"PROJECT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":120,"wires":[["d0833ce9.4f6c9"]]},{"id":"d0833ce9.4f6c9","type":"function","z":"df804a13.1570f8","name":"Global Variable","func":"global.set('age',msg.payload.age)\nglobal.set('gender',msg.payload.gender)\nglobal.set('region',msg.payload.region)\nglobal.set('temperature',msg.payload.temperature)\nglobal.set('systolic',msg.payload.systolic)\nglobal.set('diastolic',msg.payload.diastolic)\nglobal.set('pulserate',msg.payload.pulserate)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":120,"wires":[["eae75baa.620788"]]},{"id":"f895d8b5.9b0da8","type":"debug","z":"df804a13.1570f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":320,"wires":[]},{"id":"b8bf7721.9a4f18","type":"function","z":"df804a13.1570f8","name":"","func":"msg.payload={\n    \n    'age':global.get(\"age\"),\n    'gender':global.get(\"gender\"),\n    'region':global.get(\"region\"),\n    'temperature':global.get(\"temperature\"),\n    'systolic':global.get(\"systolic\"),\n    'diastolic':global.get(\"diastolic\"),\n    'pulserate':global.get(\"pulserate\"),\n    'result' : global.get(\"r\")\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[["e5b49217.b467d"]]},{"id":"56c69c2e.816064","type":"http in","z":"df804a13.1570f8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":420,"wires":[["b8bf7721.9a4f18"]]},{"id":"e5b49217.b467d","type":"http response","z":"df804a13.1570f8","name":"","statusCode":"","headers":{},"x":510,"y":420,"wires":[]},{"id":"d79ef6ca.01a3e8","type":"ui_text","z":"df804a13.1570f8","group":"16dc7806.026c08","order":2,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":200,"wires":[]},{"id":"1aa532d9.f9cc2d","type":"ibmiot","name":"HEALTH","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"16dc7806.026c08","type":"ui_group","name":"PREDICTION","tab":"dce00684.1c53c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dce00684.1c53c8","type":"ui_tab","name":"HEALTH DATA","icon":"dashboard","order":5,"disabled":false,"hidden":false}]